extends ../base

block content 
    if errorMsg 
        span=errorMsg 
    form(method="POST")
        input(type="password", placeholder="Old Password", name="oldPass") 
        input(type="password", placeholder="New Password", name="newPass") 
        input(type="password", placeholder="Confirm New Password", name="newPass2")
        input(type="submit", value="Change Password") 